<div class="block-book-card">
  <div class="header">
    <div class="image-block">
      <img src={{@src}} alt={{@title}} />
    </div>
  </div>

  <div class="body">
    <div class="title">{{@title}}</div>
    <div class="publisher">{{@publisher}}</div>

    {{#if @stars}}
      <div class="rating">
        <Block::RatingStars @stars={{@stars}} />
      </div>
    {{/if}}

  </div>
</div>