<div class="block-book-card">
  <div class="header">
    <div class="image-block">
      <img src={{@src}} alt={{@title}} data-test-image />
    </div>
  </div>

  <div class="body">
    <div class="title" data-test-title>{{@title}}</div>
    <div class="publisher" data-test-publisher>{{@publisher}}</div>

    {{#if @stars}}
      <div class="rating" data-test-rating>
        <Block::RatingStars @stars={{@stars}} />
      </div>
    {{/if}}

  </div>
</div>