<div class='route-search'>
  <Block::Searchbar @onInput={{this.onInput}} @placeholder="Harry Potter"/>

  <div class='cards'>
    {{#each this.items as |item|}}
      <LinkTo @route='book' @model={{item.id}} class="card-wrapper">
        <Block::BookCard
          @src={{item.volumeInfo.imageLinks.smallThumbnail}}
          @title={{item.volumeInfo.title}}
          @publisher={{item.volumeInfo.publisher}}
          @stars={{item.volumeInfo.averageRating}}
        />
      </LinkTo>
    {{/each}}
  </div>
</div>