<div class="route-search">
  <Block::Searchbar @onInput={{this.onInput}} @placeholder="Harry Potter" />

  {{#if @model.isBusy}}
    <div class="loading">
      Loading...
    </div>
  {{else if @model.isError}}
    <div class="error">
      {{@model.error}}
    </div>
  {{/if}}

  <div class="cards">
    {{#each @model.books as |book|}}
      <LinkTo @route="book.id" @model={{book.id}} class="card-wrapper">
        <Block::BookCard
          @src={{book.imageLinks.smallThumbnail}}
          @title={{book.title}}
          @publisher={{book.publisher}}
          @stars={{book.averageRating}}
        />
      </LinkTo>
    {{/each}}
  </div>
</div>